[submodule "external/opine-world"]
	path = external/opine-world
	url = https://github.com/david-courtis/opine-world
[submodule "external/re-arc"]
	path = external/re-arc
	url = https://github.com/michaelhodel/re-arc
[submodule "external/pyplasmode"]
	path = external/pyplasmode
	url = https://github.com/BradSegal/PyPlasmode
